.cdk-overlay-container {
    z-index:1127;
}
 .form-field{
    font-family: Poppins;
    width: 95% !important;
 }

 .event-button{
  background: #404041;
  color: #fff;
  width: 141px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #404041;
}

.titleStyle{
   display: flex;
   justify-content: space-between;
 }

 .header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  //  padding-bottom: 2%;
 }
 .save-button-view{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: 0px !important;
 }
 .save-button-view button{
  width: 110px;
  height: 47px;
  border-radius: 6px;
  background-color: #404041;
 }
 .text-area-view{
  width: 100% !important;
  height: 75px;
  resize: unset;
  overflow: auto;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 2%;
  border-radius: 5px;
  font-family: poppins;
 }
 .text-area-container{
   display: flex;
   align-items: flex-start;
   padding-top: 28px;
   padding-bottom: 2%;
 }
 .menu-icon-view{
   position: relative;
   bottom: 3px;
 }
 .titleStyle h1{
   margin-bottom: 0px !important;
   font-family: Poppins;
   font-size: 28px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.01px;
   text-align: left;
   color: #404041;
 }
 .add-title-input{
  font-size: 20px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  // line-height: 1.5;
  letter-spacing: 0.01px !important;
  text-align: left !important;
  color: #7b7f8b !important;
 }
 input{
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.5; */
  letter-spacing: 0.01px;
  text-align: left;
  color: #7b7f8b;
 }
 #dialog-container{
   max-height: 70vh !important;
 }
 @media(max-width:991px){
   .start-time-view{
     width: 15% !important;
   }
   .end-time-view{
    width: 15% !important;
  }
 }
 .example-full-width input{
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 14px !important;
 }
 .start-time-view input{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.end-time-view input{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px !important;
}
.location-input-view{
  font-size: 14px;
}
#text-input-view{
  font-size: 14px;
  color: #7b7f8b;
}
#start-end-time{
  padding-top: 18px;
}
.mat-input-placeholder {
  color: #fff;
  font-size: 2em;
}
mat-label{
  font-size: 14px !important;
  // color:red;
}
.mat-form-field-label{
  font-size: 14px !important;
}
#location-view{
  margin-top: 6px;
}
#header-view{
  margin-bottom: 12px;
}