.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px !important;
}
.header-view{
    display: flex;
    align-items: center;
}
.header-view > div{
    margin-right: 3%;
}
.event-button{
    background: #404041;
    color: #fff;
    width: 136px;
    height: 42px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.add-icon-view{
    font-size: 22px !important;
}
#today-toggle-group{
max-width: 210px;
    width: auto;
    // min-height: 42px;
    // height: 42px;
    border-radius: 4px;
    background-color: #ffffff;
    // display: flex;
    // align-items: center;
}
#toggle-button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: none;
    // position: relative;
}
.previous-button{
    position: relative;
}
.today-button{
    position: relative;
}
.day-view{
    position: relative;
}
.day-view::after{
    content: " ";
    position: absolute;
    border-right: 1px lightgray solid !important; 
    top: 22%;
    right: 0;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.week-view{
    position: relative;
}
.week-view::after{
    content: " ";
    position: absolute;
    border-right: 1px lightgray solid !important; 
    top: 22%;
    right: 0;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.today-button::after{
    content: " ";
    position: absolute;
    border-right: 1px lightgray solid !important; 
    top: 22%;
    right: 0;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.previous-button::after{
    content: " ";
    position: absolute;
    border-right: 1px lightgray solid !important; 
    top: 22%;
    right: 0;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.calendar-header-text{
    font-size: 32px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02px;
    // text-align: center;
    padding-left: 16px;
    color: #404041;
    font-family: poppins;
}
#toggle-group{
    max-width: 188px !important;
    width:auto;
    height: 42px;
    border-radius: 4px;
    /* border: solid 1px #a7a7a7; */
    background-color: #ffffff;
}
#toggle-button-button{
    width: 92px;
    display: flex !important;
    align-items: center !important;
    height: 32px;
}
#toggle-button-button > div{
    width: 75px;
    height: 25px;
    /* font-family: Poppins; */
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.01px;
    text-align: left;
    color: #404041;
}
#today-toggle-group .mat-button-toggle{
    height: 34px;
    display: flex !important;
    align-items: center !important;
}
// .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
//     border-left: solid 1px rgba(0,0,0,.12);
//     margin:4px;
//     display: flex;
//     align-items: center;
// }
.previous-button{
    display: flex !important;
    align-items: center !important;
}
.date-view{
    // width: 78px;
    height: 20px;
    // font-family: Poppins;
    font-size: 14px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d585e;
    margin: 0px !important;
    display: flex;
    justify-content: center;
}
.date-view-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.day-view{
        display: flex;
    align-items: center;
}

.mat-button-toggle-checked {
    color: #fff;
    background-color:#404041;
    border-radius: 3px;
 }
 .mat-button-toggle{
     display: flex !important;
     align-items: center !important;
 }
 .cal-month-view .cal-cell-top{
    border: 1px solid #dadbdd !important;
 }
 @media(max-width:767px){
     .header-container{
         width: 100% !important;
         display: flex !important;
         flex-direction: column !important;
         justify-content: center !important;
         align-items: center !important;
         padding: 0px !important;

     }
     .date-view-container{
         margin-bottom: 12px;
     }
     .header-view{
         margin-bottom: 12px;
     }
     .day-toggle-view{
        margin-bottom: 12px;
     }
 }
 @media(max-width:350px){
     #today-toggle-group{
        margin-bottom: 12px;
     }
     .header-view{
         display: flex;
         flex-direction: column;
     }
 }