.calendar-count{
    background: #000;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right:2px !important;
}
.calendar-title-container{
    display: flex;
}
@media(max-width:767px){
    .calendar-title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cal-event{
        height: 100% !important;
    }
}